<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TailorEase"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKmrx10-AQnuN8zt74GbzxbHwt0UcGiz8" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".LoginScreen"/>

        <activity android:name=".LoginActivity"/>

        <activity android:name=".RegisterActivity"/>

        <activity android:name=".HomeActivity"/>

        <activity android:name=".CustomizeActivity" />

        <activity android:name=".ReadymadeActivity" />

        <activity android:name=".MaterialActivity" />

        <activity android:name=".ContactActivity" />

        <activity android:name=".MapsActivity" />

        <activity android:name=".AboutActivity" />

        <activity android:name=".OrderActivity" />

        <activity android:name=".CameraActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".TrousersActivity" />
        <activity android:name=".TShirtActivity" />
        <activity android:name=".LadyDressActivity" />
        <activity android:name=".BlazerActivity" />
        <activity android:name=".KidDressActivity" />
        <activity android:name=".BagsActivity" />

    </application>

</manifest>